<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <h1>Hallintapaneeli</h1>
        <p><a th:href="@{/}">Pääsivu</a></p>
    </header>
    <h1 th:text="'Käyttäjät'" sec:authorize="hasAuthority ('ADMIN')"></h1>

    <table sec:authorize="hasAuthority ('ADMIN')" class="table table-striped">
        <tr>
            <th>Nimi</th>
            <th>Rooli</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.userRole}"></td>
        </tr>
    </table>
    <h1 th:text="'Hahmot'"></h1>
    <table class="table table-striped">
        <tr>
            <th>Nimi</th>
            <th>Kuvaus</th>
            <th>Omistaja</th>
            <th sec:authorize="hasAuthority ('ADMIN')"></th>
            <th sec:authorize="hasAuthority ('ADMIN')"></th>
        </tr>
        <tr th:each="character : ${characters}">
            <td th:text="${character.name}"></td>
            <td th:text="${character.description}"></td>
            <td th:text="${character.owner.getUsername()}"></td>
        </tr>
    </table>

    <h1 th:text="'Kampanjat'"></h1>
    <p sec:authorize="hasAuthority ('ADMIN')"><a th:href="@{/addcampaign}">Luo uusi kampanja</a></p>

    <div th:each="campaign : ${campaigns}">
        <h2 th:text="${campaign.name}"></h2>
        <img th:src="@{/uploads/${campaign.imageUrl}}" width="200" height="200"/>
        <div sec:authorize="hasAuthority ('ADMIN')">
            <tr>
                <td><a th:href="@{/editcampaign/{id}(id=${campaign.campaignid})}">Muokkaa kampanjaa</a></td>
                <td><a th:href="@{/deletecampaign/{id}(id=${campaign.campaignid})}">Poista kampanja</a></td>
            </tr>
        </div>
        <p th:text="${campaign.description}"></p>

        <h3 th:text="'Kampanjan hahmot'"></h3>

        <table>
            <tr th:each="cc : ${campaign.campaignCharacters}" >
                <td th:text="${cc.character.name}"></td>
                <td sec:authorize="hasAuthority ('ADMIN')"><a th:href="@{/removeCharacterFromCampaign/{id}(id=${cc.campaigncharacterid})}">Poista hahmo kampanjasta</a></td>
            </tr>
            <tr th:if="${#lists.isEmpty(campaign.campaignCharacters)}">
                <td>Ei hahmoja</td>
            </tr>
        </table><br />
        
        <form sec:authorize="hasAuthority ('ADMIN')" th:action="@{/addCharacterToCampaign}" method="post">
            <input type="hidden" name="campaignid" th:value="${campaign.campaignid}" />
            <label for="charlist">Lisää hahmo</label>
            <select id="charlist" name="characterid">
                <option th:each="character: ${characters}" th:value="${character.characterid}"
                    th:text="${character.name}">
                </option>
            </select>
            <input type="submit" value="Lisää" />
        </form>

        <h3 th:text="'Kampanjassa tapahtunut'"></h3>
        <p sec:authorize="hasAuthority ('ADMIN')">
            <a th:href="@{/addsession(campaignid=${campaign.campaignid})}">Lisää uusi pelikerta (seikkailu)</a>
        </p>

        <div th:each="gsession : ${campaign.sessions}">
            <h4 th:text="${gsession.title}"></h4>
            <p th:text="${gsession.content}"></p>
            <div th:each="event : ${gsession.events}">
                <h5 th:text="${event.title}"></h5>
                <p th:text="${event.content}"></p>
            </div>
            
            <div sec:authorize="hasAuthority ('ADMIN')">
               
                <p><a th:href="@{/addevent(sessionid=${gsession.sessionid})}">Lisää tapahtumia pelikerralle</a></p>
            </div>
        </div>

        <p th:text="${campaign.createdAt}"></p>
        <p th:text="${campaign.owner.getUsername()}"></p>
    </div>

</body>

</html>