<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Muokkaa kampanjaa</h1>

    <div>
        <form th:object="${campaign}" th:action="@{../saveEditedCampaign}" action="#" method="post">

            <input type="hidden" id="campaignid" th:field="*{campaignid}" readonly />
            
            
            <label for="name">Nimi</label>
            <input type="text" id="name" th:field="*{name}" /><br/>

            <label for="description">Kuvaus</label>
            <input type="text" id="description" th:field="*{description}" /><br/>

            <label for="imageUrl">Kuva</label>
            <input type="text" id="imageUrl" th:field="*{imageUrl}" /><br/>

            <input type="submit" value="Tallenna"></input>
        </form>
    </div>
</body>

</html>