<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1 th:text="'Käyttäjät'">Hello</h1>
    <!-- Table is shown only to admin-users -->
    <table sec:authorize="hasAuthority ('ADMIN')" class="table table-striped">
        <tr>
            <th>Nimi</th>
            <th>Rooli</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.userrole}"></td>
        </tr>
    </table>
    <h1 th:text="'Hahmot'">Hello</h1>
    <table class="table table-striped">
        <tr>
            <th>Nimi</th>
            <th>Kuvaus</th>
            <th>Omistaja</th>
        </tr>
        <tr th:each="character : ${characters}">
            <td th:text="${character.name}"></td>
            <td th:text="${character.description}"></td>
            <td th:text="${character.owner.getUsername()}"></td>
        </tr>
    </table>

    <h1 th:text="'Kampanjat'">Hello</h1>
    <table class="table table-striped">
        <tr>
            <th>Kampanja</th>
            <th>Kuvaus</th>
            <th>Kuva</th>
            <th>Tehty</th>
            <th>Omistaja</th>
        </tr>
        <tr th:each="campaign : ${campaigns}">
            <td th:text="${campaign.name}"></td>
            <td th:text="${campaign.description}"></td>
            <td th:text="${campaign.image_url}"></td>
            <td th:text="${campaign.created_at}"></td>
            <td th:text="${campaign.owner.getId()}"></td>
        </tr>
    </table>
    <h1 th:text="'Seikkailut'">Hello</h1>
    <table class="table table-striped">
        <tr>
            <th>Kampanja</th>
            <th>Otsikko</th>
            <th>Sisältö</th>
            <th>Päivämäärä</th>
        </tr>
        <tr th:each="gsession : ${sessions}">
            <td th:text="${gsession.campaign.getName()}"></td>
            <td th:text="${gsession.title}"></td>
            <td th:text="${gsession.content}"></td>
            <td th:text="${gsession.session_date}"></td>
        </tr>
    </table>
    <h1 th:text="'Tapahtumat'">Hello</h1>
    <table class="table table-striped">
        <tr>
            <th>Seikkailu</th>
            <th>Tapahtuman järjestysnumero</th>
            <th>Sisältö</th>
        </tr>
        <tr th:each="event : ${events}">
            <td th:text="${event.session.title}"></td>
            <td th:text="${event.order_index}"></td>
            <td th:text="${event.content}"></td>
        </tr>
    </table>
    <br />
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>
</body>

</html>