<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Kampanjaloki</h1>
    <p><a th:href="@{/login}">Kirjaudu sisään</a></p>

    <p><a sec:authorize="hasAnyAuthority ('USER', 'ADMIN')" th:href="@{/dashboard}">Hallintapaneeli</a></p>

    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>
</body>

</html>