#root {
  max-width: 1000px;
  /* max-width: 1280px */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter:
    drop-shadow(0 0 1em #ff1ba8) drop-shadow(0 0 2em #ff1ba8) drop-shadow(0 0 3em #ff1ba8);
}

.maincontent {
  margin-top: 64px;
}

@media (min-width: 600px) {
  .maincontent {
    margin-left: 0px;
    margin-top: 128px;
  }
}
